<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.furnituredonation">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-feature
        android:name="android.hardware.camera.ar"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Chong Choy Jun(1719899)"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.ar.core"
            android:value="required"></meta-data>
        <activity
            android:name=".SplashScreenActivity"
            android:label="Chong Choy Jun(1719899)">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".AR" />
        <activity android:name=".FurnitureList"
            android:label="Chong Choy Jun(1719899)"/>
        <activity android:name=".FurnitureDetails" />
        <activity android:name=".RegisterAccount" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ChoosePic" />
        <activity android:name=".DonatingOrFinding" />
        <activity android:name=".FurnitureShow" />
        <activity android:name=".Admin"
            android:label="Chong Choy Jun(1719899)"/>
        <activity android:name=".Selected"/>

    </application>

</manifest>